.gallery{
    padding-bottom:36px;
    &__title{
        @media screen and (max-width:1300px) {
            padding-left:15px;
        }
    }
    &__content{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows: 316px;
        grid-gap:10px;
        @media screen and (max-width:1300px) {
            padding-left:15px;
            padding-right:15px;
        }
    }
    &__item{

    }
    &__photo{
        height:100%;
        max-width:100%;
    }
}