.gallery{
    padding-bottom:36px;
    &__content{
        display:grid;
        grid-template-columns:repeat(3,1fr);
        grid-template-rows:1fr;
        grid-gap:10px;
    }
    &__photo{
        height:100%;
        max-width:100%;
    }
}