.header-data{
    &__about-company{
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #3B3B3B;
    }
    &__transfer{
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        color: #3B3B3B;
    }
}