.header-lg{
    background: #F5F5F5;
    &__wrapper{
        display:flex;
        justify-content: space-between;
        align-items: center;
    }
    &__info{
        display:flex;
        align-items: center;
        @media screen and (max-width:1300px){
            padding-left:15px;   
        }
    }
    &__offer{
        display:flex;
        align-items: center;
    }
    &__icon-geo{
        margin-right:16px;
    }
    &__icon-letter{
        margin-right:8px;
        width:9px;
        height:8px;
        padding-bottom:10px;
    }
    &__link-street {
        padding:13px 0px;
        padding-right:10px;
        border-right:3px solid #D9D6D6;
    }
    &__about-company{
        margin-left:26px;
    }
    &__transfer{
        margin-left:49px;
    }
    &__social-media{
        margin-right:129px;
        padding-top:5px;
        @media screen and (max-width:1100px){
            margin-right:60px;
        }
    }
    &__mail{
        @media screen and (max-width:1300px){
            padding-right:15px;   
        }
    }
}