.header{
    &__wrapper{
        display:flex;
        align-items: center;
        justify-content: space-between;
        height:82px;
    }
    &__list{
        display:flex;
        align-items: center;
    }
    &__item{
        display:flex;
        align-items: center;
        height:82px;
        padding-left:35px;
        padding-right:35px;
        transition: .2s all linear;
        &:first-child{
            margin-left:0px;
        }
        &:last-child{
            margin-left:55px;
        }
        &:hover{
            background: #064F7A;
        }
        &:hover .header__link{
            color:#fff;
        }
    }
    &__actions{
       padding-top:6px;
        display:flex;
        align-items: center;
        height:80px;
        position: relative;
        padding-right:10px;
    }
    &__link-icon{
       display:block;
       text-align: center;
    }
    &__profile{
        margin-right:24px;
    }
    &__truck{
        &::after{
            top:8%;
            right:0;
            content:'2';
            color:white;
            font-size: 12px;
            line-height: 14px;
            position:absolute;
            width:20px;
            height:18px;
            border-radius:5px;
            background: #057FC7;
            // display:flex;
            // align-items: center;
            display:flex;
            align-items:center;
            justify-content: center;
        }
    }
    &__icon-profile{
        width:25px;
        height:25px;
    }
    &__link-profile{
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
    }
    &__icon-truck{
        width:25px;
        height:25px;
    }
    &__link-truck{
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #000000;
    }

}