.header{
    &__wrapper{
        display:flex;
        align-items: center;
        justify-content: space-between;
    }
    &__list{
        display:flex;
        list-style:none;
    }
    &__item{
        margin-left:70px;
        &:first-child{
            margin-left:0px;
        }
        &:last-child{
            margin-left:90px;
        }
    }
}