.production{
    padding-bottom:43px;
    font-family: 'Ubuntu', sans-serif;
    &__title{
        @media screen and (max-width:1300px) {
            padding-left:15px;
        }
    }
    &__cards{
        display:grid;
        grid-template-columns:repeat(6,1fr);
        
        @media screen and (max-width:1300px) {
            padding-left:15px;
            padding-right:15px;
        }
    }
    &__card{
        grid-column:span 2;
    }
    &__content{
        position: relative;
        max-width:100%;
        transition:all .2s linear;
        &:hover{
            max-width:95%;
        }
    }
    &__photo{
        max-width:100%;
        
    }
    &__link{
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        display: block;
        position: absolute;
        left:50%;
        transform:translate(-50%, -50%);
        color:white;
        min-width:284px;
        text-align: center;
        @media screen and (max-width:1300px) {
            font-size:20px;
            line-height:22px;
        }
        @media screen and (max-width:800px) {
            font-size:16px;
            line-height:18px;
        }
    }
    &__link-blue{
        padding:2% 0px;
        background: #064F7A;
        color:white;
        min-width:284px;
        @media screen and (max-width:1300px){
            min-width:234px;
        }
        @media screen and (max-width:800px){
            min-width:204px;
        }
    }
    &__link-blue-1{
        bottom:2%;
    }
    &__link-blue-2{
        bottom:22%;
        min-width:100px;
        @media screen and (max-width:1000px){
            bottom:24.5%;
        }
    }
    &__link-white{
        min-width:170px;
        background: #FFFFFF;
        padding:1% 0px;
        color:#064F7A;
        bottom:12.5%;
        @media screen and (max-width:1000px){
            bottom:14%;
            min-width:150px;
        }
        @media screen and (max-width:700px){
            min-width:120px;
        }
    }
}

