.services{
    padding-bottom:36px;
    font-family: 'Ubuntu', sans-serif;
    &__title{
        @media screen and (max-width:1300px) {
            padding-left:15px;
        }
    }
    &__cards{
        display:grid;
        grid-template-columns:repeat(2,1fr);
        grid-template-rows:370px 463px;
        grid-column-gap:10px;
        grid-row-gap:20px;
        @media screen and (max-width:1300px) {
            padding-left:15px;
            padding-right:15px;
        }
    }
    &__card{
        max-width:100%;
    }
    
}